<!-- Sidebar -->
	<section id="sidebar">
		<div class="inner">
			<nav>
				<ul>
					<li><a href="#intro">Welcome</a></li>
					<li><a href="#one">Who I am</a></li>
					<li><a href="#two">What I Offer</a></li>
					<li><a href="#three">Results</a></li>
					<li><a href="#four">Blog</a></li>
					<li><a href="#five">Contact</a></li>
				</ul>
			</nav>
		</div>
	</section>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Intro -->
			<section id="intro" class="wrapper style1 fullscreen fade-up">
				<div class="inner">
					<div class="image logo"><%= image_tag "cwflogo.svg" %></div>
					<h1>Chris Willburn Fitness</h1>
					<h3>Personal Trainer, Weight Loss Specialist, & Healthy Lifestyle Coach</h3>
					<p>Mountlake Terrace, WA</p>
<!-- 					<ul class="actions">
						<li><a href="#one" class="button scrolly">Learn more</a></li>
					</ul> -->
				</div>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style2 spotlights">
				<section>
					<a href="#" class="image"><%= image_tag "", :data => { :position => "center center"} %></a>
<!-- 					<%= image_tag "BA/BAchris.jpg", :data => { :position => "center center"} %>
 -->				<div class="content">
							<div class="inner">
								<h2>About Me</h2>
								<ul>
									<li>NASM certified personal trainer</li>
									<li>NASM certified weight loss specialist</li>
									<li>Healthy lifestyle coach</li>
								</ul>
								<ul class="actions">
									<li><a href="/about" class="button">Read more</a></li>
								</ul>
							</div>
						</div>
					</section>
				<section>
 					<div class="content">
						<div class="inner">
							<h2>Philosophy</h2>
							<p><strong>Training for life.</strong></p>

							<p>I believe that working out and nutrition are part of a well-rounded life. But they  should add to your life, not run your life. So I strive to coach my clients to train and eat smarter, and make the most of their time working out and eating.</p>

							<p>I don't believe in running yourself into the ground working out, or crash dieting. Consistency and sustainability overtime equals results. Get the best results possible, using proven scientific methods, and have fun in the process.</p>

							<p>I believe that people are happiest when striving to reach their full potential. And it is my true passion in life to help others reach that potential.</p>
						</div>
					</div>
				</section>
	<!-- <section>
					<a href="#" class="image"><img src="images/pic03.jpg" alt="" data-position="25% 25%" /></a>
					<div class="content">
						<div class="inner">
							<h2>Ultricies aliquam</h2>
							<p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
							<ul class="actions">
								<li><a href="#" class="button">Learn more</a></li>
							</ul>
						</div>
					</div>
				</section> -->
			</section>

		<!-- Two -->
			<section id="two" class="wrapper style3 fade-up">
				<div class="inner">
					<h2>Services</h2>
					<p>Choose the plan that fits you.</p>
					<div class="features">
						<section>
							<span class="icon major fa-user"></span>
							<h3>1 on 1 personal training sessions</h3>
							<h5>$55.00/Hour session with 8 week contract</h5>
							<p>I take personal training clients Sunday-Thursday. I work with clients on 8 week contracts to ensure commitment and help get the best results. You pick how many times a week you want to train for 8 weeks, we figure out availability, and get started on your goals.</p>
						</section>
						<section>
							<span class="icon major fa-desktop"></span>
							<h3>Online Training</h3>
							<h5>$350.00 for 8 weeks ($43.75/week)</h5>
							<p>Perfect for people who are already familiar with working out, but just need a solid plan to follow to help maximize their results. Gym membership or equipment in your home required.</p>
						</section>
						<section>
							<span class="icon major fa-cutlery"></span>
							<h3>Online Nutrition Plans for weight loss</h3>
							<h5>$300.00 for 8 weeks ($37.50/week)</h5>
							<p>This option is geared towards people who either already have a workout plan they follow, have injuries that prevent them from working out, or don't have time to workout but still want to lose weight. You can still make great progress towards that goal, and nutrition is KEY.</p>						
						</section>
						<section>
							<span class="icon major fa-bar-chart"></span>
							<h3>1 on 1, 90 minute full dietary assessment and overhaul for weight loss</h3>
							<h5>$150.00 one time fee</h5>
							<p>You will meet in person with me, where we will look closely at what your goals are and what is the best way to get you there. I will set you up with a full nutritional plan, and you will walk away armed with everything you need to navigate it yourself and become the master of your own diet.</p>
						</section>
						<section>
							<span class="icon major fa-home"></span>
							<h3>Drop in 1 on 1 personal training sessions</h3>
							<h5>$55.00/Hour session</h5>
							<p>Available only to online clients who live in the area. If you want to work on something specific, need a form check, or just want your butt kicked for an hour this option is available to you.</p>
						</section>
						<section>
			<!-- 	<span class="icon major fa-diamond"></span>
							<h3>Aliquam urna dapibus</h3>
							<p>Phasellus convallis elit id ullam corper amet et pulvinar. Duis aliquam turpis mauris, sed ultricies erat dapibus.</p> -->
						</section>
					</div>
					<ul class="actions">
						<li><a href="/services" class="button">View more details</a></li>
					</ul>
				</div>
			</section>

		<!-- Three -->
			<section id="three" class="wrapper style2 fade-up">
				<div class="inner">
					<h2>Transformations</h2>
					<div class="box alt">
						<div class="row uniform">
							<div class="6u 12u$(small)"><span class="image fit border"><%= image_tag "BA/BA04.jpg" %></span></div>
							<div class="6u$ 12u$(small)"><span class="image fit border"><%= image_tag "BA/BA02.jpg" %></span></div>
							<div class="6u 12u$(small)"><span class="image fit border"><%= image_tag "BA/BA01.jpg" %></span></div>
							<div class="6u 12u$(small)"><span class="image fit border"><%= image_tag "BA/BA03.jpg" %></span></div>
						</div>
					</div>
				</div>
			</section>

			<section class="wrapper style2-alt fade-up">
				<div class="inner">
					<h2>Testimonials</h2>
					<div class="row uniform">
						<div class="8u 12u$(medium)">
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
							<blockquote>Fringilla nisl. Donec accumsan interdum nisi, quis tincidunt felis sagittis eget tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan faucibus. Vestibulum ante ipsum primis in faucibus lorem ipsum dolor sit amet nullam adipiscing eu felis.</blockquote>
						</div>
					</div>
				</div>
			</section>

		<!-- Four -->
			<section id="four" class="wrapper style3 fade-up">
				<div class="inner">
					<h2>My Fitness Blog</h2>
					<p>I frequently update it with tips to keep a fit and healthy lifestyle</p>
					<ul>
						<li>NASM certified personal trainer</li>
						<li>NASM certified weight loss specialist</li>
						<li>Healthy lifestyle coach</li>
					</ul>
					<ul class="actions">
						<li><a href="/blog" class="button">Read My Blog</a></li>
					</ul>
				</div>
			</section>


		<!-- Five -->
 			<section id="five" class="wrapper style2 fade-up">
				<div class="inner">
					<h2>Get in touch</h2>
					<p>Send me an email or call today to setup a meeting.</p>
					<div class="split style1">
						<section>
							<!-- <form method="post" action="#">
								<div class="field half first">
									<label for="name">Name</label>
									<input type="text" name="name" id="name" />
								</div>
								<div class="field half">
									<label for="email">Email</label>
									<input type="text" name="email" id="email" />
								</div>
								<div class="field">
									<label for="message">Message</label>
									<textarea name="message" id="message" rows="5"></textarea>
								</div>
								<ul class="actions">
									<li><a href="" class="button submit">Send Message</a></li>
								</ul>
							</form> -->
						</section>
						<section>
							<ul class="contact">
								<li>
									<h3>Address</h3>
									<span>12345 Somewhere Road #654<br />
									Nashville, TN 00000-0000<br />
									USA</span>
								</li>
								<li>
									<h3>Email</h3>
									<a href="mailto:chriswillburnfitness@gmail.com">chriswillburnfitness@gmail.com</a>
								</li>
								<li>
									<h3>Phone</h3>
									<span>(000) 000-0000</span>
								</li>
								<li>
									<h3>Social</h3>
									<ul class="icons">
										<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
										<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
										<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
										<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
										<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
									</ul>
								</li>
							</ul>
						</section>
					</div>
				</div>
			</section>

	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>