<!-- Header -->
	<header id="header">
		<a href="/" class="title"><span class="image"><%= image_tag "cwflogoWhite.svg" %></span></a>
		<nav id="nav">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/philosophy">Philosophy</a></li>
				<li><a href="/services">Services</a></li>
				<li><a href="/transformations" class="active current">Transformations</a></li>
				<li><a href="/testimonials">Testimonials</a></li>
				<li><a href="/#five">Contact</a></li>
			</ul>
		</nav>
	</header>

<!-- Wrapper -->
	<div id="wrapper">

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<h1 class="major">Transformations</h1>
					<div class="box alt">
						<div class="row uniform">
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA01.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA05.jpg" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA04.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA07.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA08.jpg" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA06.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA09.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA10.jpg" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA11.jpg" %></span></div>

							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA12.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA13.jpg" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA14.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA15.png" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA16.png" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA17.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA18.jpg" %></span></div>
							<div class="4u 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA19.jpg" %></span></div>
							<div class="4u$ 12u$(medium)"><span class="image fit border"><%= image_tag "BA/BA20.jpg" %></span></div>
						</div>
					</div>
			</section>

	</div>

<!-- Footer -->
	<footer id="footer" class="wrapper style1-alt">
		<div class="inner">
			<ul class="menu">
				<li>&copy; Chris Willburn. All rights reserved.</li><li><a href="mailto:chriswillburnfitness@gmail.com" class="no-mobile">chriswillburnfitness@gmail.com</a></li>
			</ul>
		</div>
	</footer>